@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);

body {
  font-family: Raleway;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#brushes span,
#frames span,
#paint span {
  color: blue;
  font-weight: bold;
}

.content {
  overflow: hidden;
}

.content img {
    float: left;
    margin-right: 10px;
}

#frames h2 {
  background-color: lightcoral;
}

h2 {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

#paint h2 {
  background-color: skyblue;
}
